<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
  	<div ng-repeat="s in slides" class="item " ng-class="{'active': $index === 0}" >
		<div class="carousel-caption">
			<h1 ng-bind="s.header"></h1>
			<p ng-bind="s.body"></p>
		</div>
    </div>
  </div>
</div>
<div class="container page shadow home">
	<div class="row">
        <div class="col-md-8">
			<div class="row">
		        <div class="col-md-12">
					<h1 ng-bind="pageHeader"></h1>
					<br />
				</div>
			</div>
            <div class="row text-center" ng-repeat-start="num in [2,4]">
				<div class="col-sm-6" ng-repeat="i in infoBlocks.slice(num == 4? 2 : 0,num)">
					<span class="fa fa-4x" ng-class="i.icon"></span>
					<h2 ng-bind="i.header"></h2>
					<p ng-bind="i.body"></p>
				</div>
			</div>
			<hr ng-repeat-end/>
			<div class="row">
				<div class="col-md-12">
					<h1 ng-bind="electionTips.header">Election Rules and Tips</h1>
					<ul class="election-tips">
						<li ng-repeat="t in electionTips.list track by $index" ng-bind-html="trust(t)">
							<b>Don't:</b> tear down posters, even if they appear to be
							in violation of an EC regulation.
							<br/>
							<b>Do:</b> report violations to the EC so they can take appropriate
							action. Email reports to <a href="mailto:union-elections@rpi.edu">union-elections@rpi.edu</a>.
						</li>
					</ul>
					<div class="btn-toolbar">
						<!-- <button class="btn btn-default"> -->
							<!-- <span class="fa fa-list"></span> See more tips -->
						<!-- </button> -->
						<a class="btn btn-primary" href="/handbook">
							<span class="fa fa-book"></span> View the handbook
						</a>
					</div>
				</div>
			</div>
        </div>
		<div class="col-md-4 home-sidebar">
			<h2 ng-bind="candidateHeader"></h2>
			<div ng-show="randomCandidate.rcsId">
				<img class="pull-left spotlight-img profile" ng-if="randomCandidate.profile_url" ng-src="{{randomCandidate.profile_url}}">
				<h4 ng-bind="randomCandidate.name"></h4>
				<h5 ng-bind="randomCandidate.position"></h5>
				<p ng-bind-html="markdown(randomCandidate.bio)"></p>
				<div class="btn-toolbar pull-right">
					<button class="btn btn-default" ng-click="reloadRandom()">
						<span class="fa fa-random"></span> Refresh
					</button>
					<a class="btn btn-primary" ng-href="/candidate/{{randomCandidate.rcsId}}">
						<span class="fa fa-user"></span> View Platform
					</a>
				</div>
			</div>
			<div ng-show="!randomCandidate.rcsId && randomCandidate.loaded">
				<br/>
				<h5>No candidates have signed up yet!</h5>
			</div>

			<div class="clearfix"></div>
			<hr/>
			<h2 ng-bind="eventHeader"></h2>
			<div ng-show="!events || events.length == 0">
				<br/>
				<h5>There are no upcoming events!</h5>
			</div>
			<ul class="event-list">
				<li ng-repeat="e in events">
					<p>
						<strong ng-bind="e.title"></strong>
						<span class="pull-right" ng-bind="e.date | date:'longDate':'UTC'"></span>
						<br/>
						<span ng-bind="e.location"></span>
						<span class="pull-right">
							<span ng-bind="formatTime(e.start)"></span>
							<span ng-if="e.end && (e.start != e.end)">&ndash;</span>
							<span ng-if="e.end && (e.start != e.end)" ng-bind="formatTime(e.end)"></span>
						</span>
					</p>
					<p ng-bind="e.desc"></p>
				</li>
			</ul>
			<div class="btn-toolbar" ng-show="events.length">
				<a class="btn btn-primary pull-right" href="/events">
					<span class="fa fa-calendar"></span> View More
				</a>
			</div>
		</div>
    </div>
	<ng-include src="'footer.html'"></ng-include>
</div>
