<div class="container page shadow" ng-if="!dataLoaded">
    <div class="row">
        <div class="loader">Loading...</div>
    </div>
</div>
<section class="container page shadow" ng-if="dataLoaded">
    <section class="row">
        <div class="col-xs-12">
            <button class="btn btn-success pull-right" ng-click="saveChanges()">Save</button>
            <h2 class="office-title">
                <i class="text-muted">Editing:</i>
                <span ng-bind="formName()"></span>
                <!--<span class="text-muted" ng-show="o.disabled">(disabled)</span>-->
            </h2>
        </div>
    </section>
    <hr/>
    <section class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="candidateName" class="col-sm-3 control-label">Name</label>

                <div class="col-sm-9">
                    <p id="candidateName" class="form-control-static" ng-bind="formName()"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="candidatePreferredName" class="col-sm-3 control-label">Preferred Name</label>

                <div class="col-sm-9">
                    <div class="form-group">
                        <input type="text" class="form-control" name="candidatePreferredName"
                               id="candidatePreferredName"
                               ng-model="candidate.preferred_name"/>
                        <p class="help-block">Note: this will replace your first name.</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="candidateRCS" class="col-sm-3 control-label">RCS ID</label>

                <div class="col-sm-9">
                    <p id="candidateRCS" class="form-control-static" ng-bind="candidate.rcs_id"></p>
                </div>
            </div>
            <!-- <div class="form-group">
                <label for="candidateNominations" class="col-sm-3 control-label">Nominations</label>

                <div class="col-sm-9">
                    <p id="candidateNominations" class="form-control-static">
                        330/600
                    </p>
                </div>
            </div> -->
            <div class="form-group" ng-if="editPermissions">
                <label for="candidateParty" class="col-sm-3 control-label">Party Affiliation</label>

                <div class="col-sm-9">
                    <div class="form-group">
                        <select class="form-control" ng-model="candidate.party_id" id="candidateParty"
                                ng-options="p.party_id as p.name for p in parties" name="candidateParty"></select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="candidateMajor" class="col-sm-3 control-label">Major(s)</label>

                <div class="col-sm-9">
                    <div class="form-group">
                        <input type="text" class="form-control" name="candidateMajor" id="candidateMajor"
                               ng-model="candidate.major"/>
                        <p class="help-block">Note: separate multiple majors with a semicolon.</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="candidateExperience" class="col-sm-3 control-label">Experience</label>

                <div class="col-sm-9">
                    <div class="form-group">
                        <input type="text" class="form-control" name="candidateExperience" id="candidateExperience"
                               ng-model="candidate.experience"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="candidateActivities" class="col-sm-3 control-label">Activities</label>

                <div class="col-sm-9">
                    <div class="form-group">
                        <input type="text" class="form-control" name="candidateActivities" id="candidateActivities"
                               ng-model="candidate.activities"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="candidateYoutube" class="col-sm-3 control-label">Youtube Video Embed Link</label>

                <div class="col-sm-9">
                    <div class="form-group">
                        <input type="text" class="form-control" name="candidateYoutube" id="candidateYoutube"
                               ng-model="candidate.video_url" placeholder="http://"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="candidateFacebook" class="col-sm-3 control-label">Facebook Link</label>

                <div class="col-sm-9">
                    <div class="form-group">
                        <input type="text" class="form-control" name="candidateFacebook" id="candidateFacebook"
                               ng-model="candidate.facebook" placeholder="http://"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="candidateFacebook" class="col-sm-3 control-label">Twitter Link</label>

                <div class="col-sm-9">
                    <div class="form-group">
                        <input type="text" class="form-control" name="candidateTwitter" id="candidateTwitter"
                               ng-model="candidate.twitter" placeholder="http://"/>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <hr/>
    <section class="row">
        <div class="col-xs-12">
            <h3>About Me</h3>
            <div class="form-group">
				<textarea class="form-control" name="candidateAbout" id="candidateAbout"
                          ng-model="candidate.about" style="min-height: 160px; resize: vertical;"></textarea>
                <p class="help-block">Markdown is supported! Find a list of rules <a href="https://daringfireball.net/projects/markdown/basics">here</a>!</p>
            </div>
            <button class="btn btn-xs btn-primary " ng-click="aboutPreview = !aboutPreview" ng-class="{'active': aboutPreview}">
                <span ng-if="!aboutPreview">Show</span>
                <span ng-if="aboutPreview">Hide</span>
                Live Preview
            </button>
            <div class="md-live-preview" markdown-to-html="candidate.about" ng-if="aboutPreview && candidate.about.length"></div>
            <div class="md-live-preview" ng-if="aboutPreview && !candidate.about.length"></div>
        </div>
    </section>
    <hr/>
    <section class="row">
        <div class="col-xs-12">
            <h3>Platform</h3>
            <div class="form-group">
				<textarea class="form-control" name="candidatePlatform" id="candidatePlatform"
                          ng-model="candidate.platform" style="min-height: 200px; resize: vertical;"></textarea>
                <p class="help-block">Markdown is supported! Find a list of rules <a href="/markdown">here</a>!</p>
            </div>
            <button class="btn btn-xs btn-primary" ng-click="platformPreview = !platformPreview" ng-class="{'active': platformPreview}">
                <span ng-if="!platformPreview">Show</span>
                <span ng-if="platformPreview">Hide</span>
                Live Preview
            </button>
            <div class="md-live-preview" markdown-to-html="candidate.platform" ng-if="platformPreview && candidate.platform.length"></div>
            <div class="md-live-preview" ng-if="platformPreview && !candidate.platform.length"></div>
        </div>
    </section>
    <hr/>
    <section class="row">
        <div class="col-xs-12">
            <h3>Profile &amp; Cover Images</h3>
        </div>
        <div class="col-xs-12">
            <ul class="nav nav-tabs">
                <li class="active"><a>URL</a></li>
                <li class="disabled"><a>Upload (coming soon!)</a></li>
            </ul>
            <br/>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <label for="urlCandidateProfileImage" class="col-sm-3 control-label">Profile Image</label>

                <div class="col-sm-9">
                    <div class="form-group">
                        <input type="text" class="form-control" name="urlCandidateProfileImage"
                               id="urlCandidateProfileImage"
                               ng-model="candidate.profile_url" placeholder="http://"/>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="urlCandidateCoverImage" class="col-sm-3 control-label">Cover Image</label>

                <div class="col-sm-9">
                    <div class="form-group">
                        <input type="text" class="form-control" name="urlCandidateCoverImage" id="urlCandidateCoverImage"
                               ng-model="candidate.cover_url" placeholder="http://"/>
                    </div>
                </div>
            </div>
            <p class="help-block">
                Note: you may use your <a href="http://dotcio.rpi.edu/services/web-data-collaboration/web-publishing/personal-home-pages">RPI web space</a>
                or any public image host such as <a href="https://www.flickr.com">Flickr</a> to upload images for use here.
            </p>
        </div>
    </section>
    <hr/>
    <section class="row" ng-if="editPermissions">
        <div class="col-xs-12">
            <h3>Candidate Assistants</h3>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="a in assistants">
                    <button class="btn btn-default btn-xs pull-right" ng-click="removeAssistant(a.rcs_id)">
                        <span class="fa fa-times"></span>
                    </button>
                    <span ng-bind="formName(a)"></span> <span class="text-muted" ng-bind="'(' + a.rcs_id + ')'"></span>
                </li>
            </ul>
            <div class="input-group">
                <input class="form-control" type="text" placeholder="New assistant's RIN or RCS ID"
                       ng-model="newAssistant.rcs" name="addAssistantField"
                       ng-keypress="addAssistantKeypressEvent($event)"
                       id="addAssistantField">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="button" ng-click="addAssistant()"
                            ng-disabled="newAssistant.rcs == ''">
                        Add
                    </button>
                </span>
            </div>
        </div>
    </section>
    <hr/>
    <div class="row">
        <div class="col-xs-12">
            <h3>Miscellaneous Facts</h3>
            <div class="form-group">
				<textarea class="form-control" name="candidateMiscInfo" id="candidateMiscInfo"
                          ng-model="candidate.misc_info" style="min-height: 200px; resize: vertical;"
                          placeholder="Favorite food: pizza
Favorite class: Data Structures"></textarea>
                <p class="help-block">
                    Note: only one fact should appear on each line, and should follow the format of
                    <kbd>[Descriptor]: [info]</kbd>.
                </p>
            </div>
        </div>
    </div>
    <hr ng-if="editPermissions"/>
    <div class="row" ng-if="editPermissions">
        <div class="col-xs-12">
            <h3>Dangerous Actions</h3>
            <br/>
            <!--<p>-->
            <!--<button ng-if="!o.disabled" class="btn btn-danger" ng-click="disablePetition(o.id)">Mark as Disqualified-->
            <!--</button>-->
            <!--<button ng-if="o.disabled" class="btn btn-success" ng-click="enablePetition(o.id)">Remove-->
            <!--Disqualification-->
            <!--</button>-->
            <!--</p>-->
            <!--<p class="text-muted">-->
            <!--This action will-->
            <!--<span ng-if="!o.disabled">disable the candidate's account and mark the candidate as disqualified.</span>-->
            <!--<span ng-if="o.disabled">re-enable the candidate's account and remove the disqualified note.</span>-->
            <!--</p>-->

            <p ng-if="candidate.offices.length === 1">
                <button class="btn btn-danger" ng-click="deleteCandidate(candidate.office_id)">Delete Candidate</button>
            </p>
            <div class="btn-toolbar" ng-if="candidate.offices.length > 1">
                <button class="btn btn-danger" ng-repeat="o in candidate.offices"
                        ng-click="deleteCandidate(o.office_id)">
                    Remove from <span ng-bind="o.office_name"></span>
                </button>
            </div>
            <br/>
            <p class="text-muted">
                <span class="text-danger">Caution:</span> this action will <b>permanently</b>
                <span ng-if="candidate.offices.length === 1">delete this candidate's account</span>
                <span ng-if="candidate.offices.length > 1">remove their candidacy for the selected office</span>
                from the Elections site.
                <br/>
                <em>Note: candidates can be re-added, but their existing candidate profile will be deleted.</em>
            </p>
        </div>
    </div>
    <ng-include src="'partials/footer.html'"></ng-include>
</div>
