<div class="container page shadow" ng-if="!dataLoaded">
	<div class="row">
		<div class="loader">Loading...</div>
	</div>
</div>
<div class="container page shadow" ng-if="dataLoaded">
	<div class="row">
		<div class="col-sm-12 col-md-4">
			<h1>Events</h1>
			<br/>
		</div>
		<div class="col-sm-12 col-md-8" ng-if="editPermissions">
			<div class="btn-group pull-right header-btns">
				<a class="btn btn-default active" href="#/events">
					View
				</a>
				<a class="btn btn-primary" href="#/events/edit">
					Edit
				</a>
			</div>
		</div>
	</div>
	<div class="row" ng-if="dataLoaded && events.length === 0">
		<div class="col-xs-12">
			<br/>
			<h3>No events were found!</h3>
			<br/>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4" ng-repeat="i in [0,1,2]">
			<div class="panel panel-default" ng-repeat="e in events track by $index" ng-if="$index % 3 == i">
				<div class="panel-heading">
					<h2 class="panel-title" style="overflow: hidden">
						<span ng-bind="e.title"></span>
						<span ng-bind="e.date | date:'longDate':'UTC'" class="pull-right text-muted"></span>
					</h2>
				</div>
				<div class="panel-body" style="height: auto">
					<p>
						<strong>Location:</strong>
						<span ng-bind="e.location"></span>
					</p>
					<p>
						<strong>When:</strong>
						<span ng-bind="e.date | date:'longDate':'UTC'"></span>,
						<span ng-bind="formatTime(e.start_string)"></span>
						<span ng-if="e.end_string && (e.start_string != e.end_string)">&ndash;</span>
						<span ng-if="e.end_string && (e.start_string != e.end_string)"
							 	  ng-bind="formatTime(e.end_string)"></span>
					</p>
					<p>
						<span ng-bind="e.description.substr(0,255)"></span><span ng-if="e.description.length>=255">&#8230;</span>
					</p>
				</div>
			</div>
		</div>
	</div>
	<ng-include src="'partials/footer.html'"></ng-include>
</div>
