<div class="container page shadow">
	<div class="row">
		<div class="col-sm-12 col-md-4">
				<h1>Events</h1>
		</div>
		<div class="col-sm-12 col-md-8">
				<div class = "pull-right">
					<div class="btn-group header-btns">
							<button class="btn btn-default" ng-repeat="f in filterOptions"
											ng-click="setFilter(f.slug)" ng-class="{'active': filter == f.slug}">
									{{f.label}}
							</button>
							<button class="btn btn-primary" ng-if="editPermissions" ng-click="setFilter('edit')"
											ng-class="{'active': filter == 'edit'}">
									Batch Edit
							</button>
					</div>
					<form class="form-horizontal pull-right header-btns">
							<div class="form-group">
									<label for="startDate" class="col-sm-5 control-label">Starting date</label>
									<div class="col-sm-7">
											<input class="form-control" type="text" name="newStartDate" id="newStartDate" ng-model="set.startDate"/>
									</div>
							</div>
					</form>
				</div>
		</div>
		<hr/>
	</div>
	<div class="row" ng-if="!dataLoaded">
			<div class="loader">Loading...</div>
			<!--<hr/>-->
	</div>
	<div class="row" ng-if="dataLoaded && ((filter != 'all' && filter != 'edit' && numEvents(filter) == 0) || (filter == 'all' && events.length === 0))">
			<div class="col-xs-12">
					<br/>
					<h3 ng-if="filter != 'all' && filter != 'edit' && numEvents(filter) == 0">No events were found for this filter!</h3>
					<h3 ng-if="filter == 'all' && events.length === 0">No events were found!</h3>
					<br/>
					<hr/>
			</div>
	</div>
	<ng-include src="'partials/footer.html'"></ng-include>
</div>
