<div class="container page shadow" ng-if="!dataLoaded">
	<div class="row">
		<div class="loader">Loading...</div>
	</div>
</div>
<div class="container page shadow" ng-if="dataLoaded">
	<div class="row">
		<div class="col-sm-12 col-md-4">
			<h1>Events</h1>
			<br/>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4" ng-repeat="i in [0,1,2]">
			<div class="panel panel-default" ng-repeat="e in events track by $index" ng-if="$index % 3 == i">
				<div class="panel-heading">
					<h2 class="panel-title">
						<span ng-bind="e.title"></span>
						<span ng-bind="e.date | date:'longDate'" class="pull-right text-muted"></span>
					</h2>
				</div>
				<div class="panel-body" style="height: 150px">
					<p>
						<strong>Location:</strong>
						<span ng-bind="e.location"></span>
					</p>
					<p>
						<strong>When:</strong>
						<span ng-bind="e.date | date:'longDate'"></span>,
						<span ng-bind="formatTime(e.start)"></span>
						<span ng-if="e.end">&ndash;</span>
						<span ng-if="e.end" ng-bind="formatTime(e.end)"></span>
					</p>
					<p>
						<span ng-bind="e.description.substr(0,255)"></span><span ng-if="e.description.length>=255">&#8230;</span>
					</p>
				</div>
			</div>
		</div>
	</div>
	<ng-include src="'partials/footer.html'"></ng-include>
</div>
