<footer>
    <hr/>
    <div class="row">
        <div class="col-sm-8 col-xs-12">
            <small>
                This website was created by the Web Technologies Group of
                the Rensselaer Union Student Senate.<br/>
                Content on this website is monitored by the Rules and Elections
                Committee.<br/>Statements made by candidates do not represent
                views of RPI, the Rensselaer Union, or the Student Senate.
            </small>
        </div>
        <div class="col-xs-4 col-sm-2 col-xs-offset-2 col-sm-offset-0">
            <img src="/images/rne.svg" class="img-responsive pull-right">
        </div>
        <div class="col-xs-4 col-sm-2">
            <img src="/images/wtg.svg" class="img-responsive pull-right">
        </div>
    </div>
</footer>