<div class="container page shadow" ng-if="!dataLoaded">
    <div class="row">
        <div class="loader">Loading...</div>
    </div>
</div>
<div class="container page shadow" ng-if="dataLoaded">
    <div class="row">
        <div class="col-sm-12 col-md-8">
            <h1>
                Nominations for {{ formName() }}
                <small class="text-nowrap">{{ office.office_name }}</small>
            </h1>
        </div>
        <div class="col-sm-12 col-md-4">
            <div class="btn-group pull-right header-btns">
                <button class="btn btn-primary" ng-click="backToNominations()">
                    Back to Nominations
                </button>
            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-xs-12">
            <h4>Page {{ page.page_number }}</h4>
            <p>Submitted on {{ page.submitted | date:'MMMM d, y' }} at {{ page.submitted | date:'shortTime'}}</p>
            <p>{{ statusCounts().valid }} valid, {{ statusCounts().invalid }} invalid, and {{ statusCounts().pending }} pending nominations</p>

            <div class="list-group">
                <div class="list-group-item"
                    ng-repeat="nomination in page.nominations"
                    ng-controller="NominationController as nomCtrl"
                    ng-init="nomCtrl.setNomination(nomination)"
                    ng-include="'partials/nomination.html'">
                </div>
            </div>
        </div>
    </div>
    <ng-include src="'partials/footer.html'"></ng-include>
</div>
