<div class="container page shadow">
	<div class="row">
		<div class="col-sm-12 col-md-2">
			<h1>Offices</h1>
		</div>
		<div class="col-sm-12 col-md-10">
			<div class="btn-group pull-right header-btns">
				<button class="btn btn-default" ng-click="setFilter()"
						ng-class="{'active': filter == ''}">
					All offices
				</button>
				<button class="btn btn-default" ng-click="setFilter('greek')"
						ng-class="{'active': filter == 'greek'}">
					Greek
				</button>
				<button class="btn btn-default" ng-click="setFilter('independent')"
						ng-class="{'active': filter == 'independent'}">
					Independent
				</button>
				<button class="btn btn-default" ng-click="setFilter('2016')"
						ng-class="{'active': filter == '2016'}">
					2016
				</button>
				<button class="btn btn-default" ng-click="setFilter('2017')"
						ng-class="{'active': filter == '2017'}">
					2017
				</button>
				<button class="btn btn-default" ng-click="setFilter('2018')"
						ng-class="{'active': filter == '2018'}">
					2018
				</button>
				<button class="btn btn-default" ng-click="setFilter('2019')"
						ng-class="{'active': filter == '2019'}">
					2019
				</button>
				<button class="btn btn-default" ng-click="setFilter('graduate')"
						ng-class="{'active': filter == 'graduate'}">
					Graduate
				</button>
			</div>
		</div>
	</div>
	<div class="row" ng-repeat-start="o in offices" ng-hide="filter != '' && filter != o.type">
        <div class="col-xs-11">
            <h2>
                {{o.title}}
            </h2>
        </div>
		<div class="col-xs-1">
			<button class="btn btn-simple btn-lg">
				<h2 class="fa fa-info-circle"></h2>
			</button>
		</div>
		<div class="col-xs-12" ng-if="o.candidates === undefined || o.candidates.length == 0">
			<p>No candidates are running for this position!</p>
		</div>
        <div class="col-md-3 col-sm-6 col-xs-12" ng-repeat="c in o.candidates">
			<div class="card-container manual-flip">
                <div class="card">
                    <div class="front">
                        <div class="cover">
                            <img src="rotating_card_thumb.png">
                        </div>
                        <div class="user">
                            <img class="img-circle" src="rotating_card_profile2.png">
                        </div>
                        <div class="content">
                            <div class="main">
                                <h3 class="name">{{c.name}}</h3>
                                <p ng-if="c.party === undefined || c.party == ''" class="profession">Unaffiliated</p>
                                <p ng-if="c.party !== undefined && c.party != ''" class="profession" ng-bind="c.party"></p>
                                <h5><i class="fa fa-graduation-cap fa-fw text-muted"></i> Mechanical Enginering </h5>
                                <h5><a ng-href="{{c.rcsId}}@rpi.edu">
									<i class="fa fa-envelope-o fa-fw text-muted"></i> {{c.rcsId}}@rpi.edu
								</a></h5>
								<div class="progress text-center">
									<span ng-if="c.nominations/o.nominationsRequired < .33">{{c.nominations}}/{{o.nominationsRequired}}</span>
									<div class="progress-bar" role="progressbar" aria-valuenow="{{c.nominations}}" aria-valuemin="0"
								  	   aria-valuemax="{{o.nominationsRequired}}" ng-style="{'width': nominationPercentage(c.nominations, o.nominationsRequired)}">
									   <span ng-if="c.nominations/o.nominationsRequired >= .33">{{c.nominations}}/{{o.nominationsRequired}}</span>
								   </div>
								</div>
                            </div>
                            <div class="footer">
                                <button class="btn btn-simple" onclick="rotateCard(this)">
                                    <i class="fa fa-plus"></i> More
                                </button>
								<a class="btn btn-simple" ng-href="#/candidate/{{c.rcsId}}">
                                    <i class="fa fa-user"></i> View Platform
                                </a>
                            </div>
                        </div>
                    </div> <!-- end front panel -->
                    <div class="back">
                        <div class="header">
                            <h5 class="motto">"To be or not to be, this is my awesome motto!"</h5>
                        </div>
                        <div class="content">
                            <div class="main">
                                <h4 class="text-center">Experince</h4>
                                <p>Mike was working with our team since 2012.</p>
                                <h4 class="text-center">Areas of Expertise</h4>
                                <p>Web design, Adobe Photoshop, HTML5, CSS3, Corel and many others...</p>
                            </div>
                        </div>
                        <div class="footer">
                            <button class="btn btn-simple" rel="tooltip" title="" onclick="rotateCard(this)" data-original-title="Flip Card">
                                <i class="fa fa-reply"></i> Back
                            </button>
                            <div class="social-links pull-right">
                                <a href="http://cretive-tim.com" class="facebook"><i class="fa fa-facebook fa-fw"></i></a>
                                <a href="http://cretive-tim.com" class="google"><i class="fa fa-google-plus fa-fw"></i></a>
                                <a href="http://cretive-tim.com" class="twitter"><i class="fa fa-twitter fa-fw"></i></a>
                            </div>
                        </div>
                    </div> <!-- end back panel -->
                </div> <!-- end card -->
            </div>
			<!-- <div class="card">
                <div class="header-bg" width="250" height="70"></div>
                <div class="avatar">
                    <img ng-src="{{c.profileImage}}" alt=""/>
                </div>
                <div class="content">
                    <h4>{{c.name}}</h4>

                    <p>
                        <button type="button" class="btn btn-default">View Profile</button>
                    </p>
                </div>
            </div> -->
        </div>
    </div>
	<hr ng-repeat-end ng-if="filter == '' || filter == o.type" />
	<footer>
		<div class="row">
			<div class="col-sm-8 col-xs-12">
				<small>
					This website was created by the Web Technologies Group of
					the Rensselaer Union Student Senate.<br/>
					Content on this website is monitored by the Rules and Elections
					Committee.<br/>Statements made by candidates do not represent
					views of RPI, the Rensselaer Union, or the Student Senate.
				</small>
			</div>
			<div class="col-xs-4 col-sm-2 col-xs-offset-2 col-sm-offset-0">
				<img src="/images/rne.svg" class="img-responsive pull-right">
			</div>
			<div class="col-xs-4 col-sm-2">
				<img src="/images/wtg.svg" class="img-responsive pull-right">
			</div>
		</div>

	</footer>
</div>
