<div class="container page shadow">
    <div class="row">
        <div class="col-md-12">
            <h1>Political Parties</h1>
            <hr/>
            <div class="row">
                <div class="col-md-6" ng-repeat="i in [0,1,2,3,4,5,6,7,8,9]">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title"><a href="#/party/1">Party Name</a></h2>
                        </div>
                        <div class="panel-body">
                            <p>
                                <strong>Party Leader:</strong> Person Name
                            </p>
                            <p>Material confined likewise it humanity raillery an unpacked as he. Three chief merit no
                                if. Now how her edward engage not horses. Oh resolution he dissimilar precaution to
                                comparison an. Matters engaged between he of pursuit manners we moments. Merit gay end
                                sight front. Manor equal it on again ye folly by match. In so melancholy as an
                                sentiments simplicity connection. Far supply depart branch agreed old get our.</p>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <footer>
                <div class="row">
                    <div class="col-sm-8 col-xs-12">
                        <small>
                            This website was created by the Web Technologies Group of
                            the Rensselaer Union Student Senate.<br/>
                            Content on this website is monitored by the Rules and Elections
                            Committee.<br/>Statements made by candidates do not represent
                            views of RPI, the Rensselaer Union, or the Student Senate.
                        </small>
                    </div>
                    <div class="col-xs-4 col-sm-2 col-xs-offset-2 col-sm-offset-0">
                        <img src="/images/rne.svg" class="img-responsive pull-right">
                    </div>
                    <div class="col-xs-4 col-sm-2">
                        <img src="/images/wtg.svg" class="img-responsive pull-right">
                    </div>
                </div>

            </footer>
        </div>
    </div>
</div>
