<div class="container page shadow">
    <div class="row">
        <div class="col-sm-12 col-md-4">
            <h1>Political Parties</h1>
        </div>
        <div class="col-sm-12 col-md-8" ng-if="editPermissions">
            <div class="btn-group pull-right header-btns">
                <a class="btn btn-default active" href="#/parties">
                    View
                </a>
                <a class="btn btn-primary" href="#/parties/edit">
                    Edit
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <hr/>
            <div class="row">
                <div class="col-md-6" ng-repeat="i in [0,1]">
                    <div class="panel panel-default" ng-repeat="p in parties track by $index" ng-if="$index % 2 == i">
                        <div class="panel-heading">
                            <h2 class="panel-title"><a ng-href="#/party/{{p.id}}" ng-bind="p.name"></a></h2>
                        </div>
                        <div class="panel-body">
                            <p>
                                <strong>Party Leader:</strong>
                                <span ng-bind="p.leader" ng-if="p.leader"></span>
                                <span ng-if="!p.leader">N/A</span>
                            </p>
                            <p ng-bind="p.platform"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <ng-include src="'partials/footer.html'"></ng-include>
</div>
