<!DOCTYPE html>
<html ng-app="Elections">
<head>
    <title>RPI Elections</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <!-- Latest compiled and minified CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/united/bootstrap.min.css" rel="stylesheet"
          integrity="sha256-nKQVXFJ5JtDJlI5p1UcSf0JOFudCj9RgjBDsJSZPsS4= sha512-dbadXecsBCgqQ5XGx6SG+bO4vsfzznX6/NfAG4CuzLi76wcdLGAw2KIcsLyv7H5XsEGq0zaznpxDCAEIX9pdYA=="
          crossorigin="anonymous">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/main.css"/>
    <link rel="stylesheet" href="/stylesheets/offices-card.css"/>

    <link rel="icon" href="/favicon.png">
</head>
<body ng-cloak ng-controller="MainController">
<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">RPI Elections</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-class="{'active':isCurrentPage('offices') || isCurrentPage('candidate')}">
                    <a href="#/offices">Offices <span class="sr-only">(current)</span></a>
                </li>
                <li ng-class="{'active':isCurrentPage('parties') || isCurrentPage('party')}">
                    <a href="#/parties">Parties</a>
                </li>
                <li ng-class="{'active':isCurrentPage('events')}">
                    <a href="#/events">Events</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Run for Office <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#/">Necessary Forms</a></li>
                        <li><a href="#/">GM Week Handbook</a></li>
                        <li><a href="#/">Election Do's and Dont's</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#/">Sanctions &amp; Decisions</a></li>
                        <li><a href="#/">Updates</a></li>
                        <li><a href="#/">About RnE</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-if="!authenticated"><a href="/login">Candidate Login</a></li>
                <li class="dropdown" ng-if="authenticated">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        Signed in as <i ng-bind="username"></i> <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#/">Edit Content</a></li>
                        <li><a href="#/">Moderate Submissions</a></li>
                        <li><a href="#/">Admin Tasks</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Sign out</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<ng-view></ng-view>

<!--Scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"
        integrity="sha512-K1qjQ+NcF2TYO/eI3M6v8EiNYZfA95pQumfvcVrTHtwQVDG+aHRqLi/ETn2uB+1JqwYqVG3LIvdm9lj6imS/pQ=="
        crossorigin="anonymous"></script>

<script type="text/javascript" src="components/angular/angular.min.js"></script>
<script type="text/javascript" src="components/angular-route/angular-route.min.js"></script>
<script type="text/javascript" src="components/angular-sanitize/angular-sanitize.min.js"></script>
<script type="text/javascript" src="components/showdown/dist/showdown.min.js"></script>
<script type="text/javascript" src="components/ng-showdown/dist/ng-showdown.min.js"></script>
<script type="text/javascript" src="components/angular-cookies/angular-cookies.min.js"></script>

<script src="/javascripts/app.js"></script>
<script src="/javascripts/controllers/MainController.js"></script>
<script src="/javascripts/controllers/HomeController.js"></script>
<script src="/javascripts/controllers/OfficesController.js"></script>
<script src="/javascripts/controllers/CandidateController.js"></script>
<script src="/javascripts/controllers/EventsController.js"></script>
<script src="/javascripts/controllers/PartiesController.js"></script>

<script type="text/javascript">
    function rotateCard(btn) {
        var $card = $(btn).closest('.card-container');
        console.log($card);
        if ($card.hasClass('hover')) {
            $card.removeClass('hover');
        } else {
            $card.addClass('hover');
        }
    }
</script>
</body>
</html>
